{% extends 'base.html.twig' %}

{% block page_content %}
    <div class="row mt-5">
        <div class="col-6 offset-3 justify-content-center text-center">
            <div class="alert alert-danger">
                Il faut d'abord générer des contrats.
            </div>
        </div>
    </div>

{% endblock %}